$ibm-mono: 'IBMPlexMono-Regular';
$ibm-sans: 'IBMPlexSans-Regular';
$color-black: rgba(0,0,0,1);
$color-blue: rgba(0,0,236,1);
$color-blue-secondary: rgba(0,0,255,1);
$color-blue-tertiary: rgba(0,0,163,1);
$color-white: rgba(255, 255, 255, 1);
$color-green: rgba(0,243,187,1);
